.bodyBackgroundModal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(26, 4, 0, 0.6);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.modalContainer {
  position: relative;
  height: fit-content;
  width: 100%;

  max-width: 926px;
  max-height: calc(min(800px, 88vh));
}

.contentContainer {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 32px;

  width: 100%;

  background: var(--neutral-000);
  border-radius: 24px;
  overflow-y: auto;

  scrollbar-width: none;

  -ms-overflow-style: none;
}

.closeButton {
  width: 32px;
  height: 32px;
  background-color: var(--laranja-principal);
  outline: none;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  right: 0;
  transition: background-color 0.2s ease-out;
  fill: var(--neutral-000);
  &:hover {
    background-color: var(--white-laranja-02);
  }
}

.modalHeader {
  display: flex;
  flex-direction: column;

  gap: 16px;

  h2 {
    width: 100%;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.03em;

    color: var(--neutral-700);
  }
}

.line {
  width: 100%;
  height: 1px;
  opacity: 0.5;

  border-bottom: 2px dashed var(--neutral-400);
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

@media (max-width: 768px) {
  .bodyBackgroundModal {
    display: flex;
    align-items: flex-start;
    overflow-y: auto;

    padding: 24px;
  }
  .modalContainer {
    height: fit-content;
    max-height: none;
    padding: 32px 24px 24px;
    gap: 24px;
  }

  .modalHeader {
    gap: 12px;

    h2 {
      font-size: 24px;
    }
  }
  .buttonModal {
    width: 100% !important;
  }
}
